/* Général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    color: #35424a;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header styles */
header {
    background-color: #35424a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f4a261;
}

/* Section Introduction */
#introduction {
    padding: 2rem 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 1200px;
    border-radius: 10px;
}

.intro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.intro-photo img {
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-text {
    max-width: 600px;
    text-align: center;
}

.intro-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-container {
    text-align: center;
    margin-top: 2rem;
}

.about-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.video-container {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #35424a;
    border-radius: 8px;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

/* Conteneur plein écran */
#fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

#fullscreen-container.hidden {
    display: none;
}

#fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#close-fullscreen {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#close-fullscreen:hover {
    background-color: #d32f2f;
}

/* Carousel */
.carousel-container {
    position: relative; /* Nécessaire pour positionner les flèches */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 80%;
    max-width: 1000px;
    border: 2px solid #35424a;
    border-radius: 8px;
    position: relative;
}

.carousel img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.carousel-arrow {
    top: 50%;
    transform: translateY(-50%);
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}


.carousel-arrow.left-arrow {
    left: -40px; /* Position à gauche */
}

.carousel-arrow.right-arrow {
    right: -40px; /* Position à droite */
}

.carousel-arrow:hover {
    background-color: #1f2a30;
}

/* Section GIFs */
.gif-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    justify-content: center;
    margin: 20px 0;
}

.gif-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gif-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Styles pour les liens de téléchargement */
.download-links {
    text-align: center;
    margin: 20px 0;
}

.download-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #35424a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-links a:hover {
    background-color: #1f2a30;
}

/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%; /* Définit une largeur uniforme */
    height: auto; /* Maintient le ratio d'aspect */
    max-height: 90%; /* Empêche l'image de dépasser la hauteur de l'écran */
    object-fit: contain; /* S'assure que l'image est contenue dans les dimensions définies */
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content .send-button {
    background-color: #35424a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content .send-button:hover {
    background-color: #1f2a30;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #704fa1;
    font-weight: bold;
}

social-links a:hover {
    color: #560000;
}

/* Modal pour les GIFs */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1000;
    align-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: contain; /* S'assure que le GIF s'adapte sans déformation */
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}

/* Animation pour l'apparition */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Styles pour les boutons et liens avec icônes */
.contact-button {
    display: inline-flex;
    align-items: center;
    background-color: #35424a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-button i {
    margin-right: 10px;
}

.contact-button:hover {
    background-color: #1f2a30;
}

.social-links {
    display: flex;
    gap: 20px;
}

social-links a:hover {
    color: #bbb;
}

/* Amélioration du formulaire */
.modal-content label i {
    margin-right: 8px;
    color: #35424a;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content .send-button {
    display: inline-flex;
    align-items: center;
    background-color: #35424a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.modal-content .send-button i {
    margin-right: 10px;
}

.modal-content .send-button:hover {
    background-color: #1f2a30;
}

/* Contact section styles */
#contact {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-button {
    display: inline-flex;
    align-items: center;
    background-color: #35424a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-button i {
    margin-right: 10px;
}

.contact-button:hover {
    background-color: #1f2a30;
}


/* Section Demo Reel */
#demo-reel {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
}

#demo-reel h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #35424a;
}

#demo-reel p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

/* Section Logiciels */
#software {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
}

#software h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #35424a;
}

#software p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.software-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.software-item {
    text-align: center;
    max-width: 150px;
}

.software-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.software-item img:hover {
    transform: scale(1.1);
}

.software-item p {
    font-size: 1rem;
    color: #333;
}

/* Footer styles */
footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-button {
    display: inline-flex;
    align-items: center;
    background-color: #1f2a30;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-button i {
    margin-right: 10px;
}

.contact-button:hover {
    background-color: #0d1a20;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    color: rgb(112, 112, 112);
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a i {
    margin-right: 8px;
}

.social-links a:hover {
    color: #f46161;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .carousel-container {
        flex-direction: column;
    }

    .carousel {
        width: 100%;
    }

    .carousel-arrow.left-arrow {
        left: 10px; /* Ajustement pour les petits écrans */
    }

    .carousel-arrow.right-arrow {
        right: 10px; /* Ajustement pour les petits écrans */
    }
    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(50, 43, 43);
        border: none;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 10;
        transition: background-color 0.3s ease;
    }

    .download-links a {
        display: block;
        margin: 10px auto;
    }

    .modal-content {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Maintient le ratio d'aspect */
    }
}

@media (max-width: 480px) {
    .gif-container {
        grid-template-columns: 1fr;
    }

    .carousel-arrow {
        font-size: 1.2rem;
        padding: 8px;
    }

    .carousel-arrow.left-arrow {
        left: 5px; /* Ajustement pour les très petits écrans */
    }

    .carousel-arrow.right-arrow {
        right: 5px; /* Ajustement pour les très petits écrans */
    }

    .contact-button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .social-links a {
        font-size: 1rem;
    }

    .modal-content {
        width: 100%;
        height: auto;
        object-fit: contain; /* S'assure que le GIF est bien centré et en paysage */
    }

    .close {
        top: 10px;
        right: 10px;
        font-size: 20px;
    }
}